# Prerequisites
*.d
VS_Win10_VTK/.vs
VS_Win10_VTK/x64
data
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VS_Win10_VTK/VS_Win10_VTK/x64/Debug
VS_Win10_VTK/VS_Win10_VTK/x64/Release
VS_Win10_VTK/VS_Win10_VTK/x64/Release/qt_work.log
VS_Win10_VTK/VS_Win10_VTK/x64/Release/vc142.pdb
VS_Win10_VTK/VS_Win10_VTK/x64/Release/VS_Win10_VTK.Build.CppClean.log
VS_Win10_VTK/VS_Win10_VTK/x64/Release/VS_Win10_VTK.log
VS_Win10_VTK/VS_Win10_VTK/x64/Release/VS_Win10_VTK.tlog/CL.command.1.tlog
VS_Win10_VTK/VS_Win10_VTK/x64/Release/VS_Win10_VTK.log
*.log
*.log
*.pdb
*.tlog
*.tlog
*.tlog
